version: '3'

services:
  roundcubemail:
    image: roundcube/roundcubemail
    container_name: roundcube
    environment:
      - ROUNDCUBEMAIL_DEFAULT_HOST=172.18.0.1
      - ROUNDCUBEMAIL_SMTP_SERVER=172.18.0.1
      - ROUNDCUBEMAIL_DB_TYPE=sqlite
      - ROUNDCUBEMAIL_USERNAME_DOMAIN=gonzalonazareno.org
    ports:
      - "8005:80"
    volumes:
      - ./html:/var/www/html          # Directorio de instalación de Roundcube
      - ./config:/var/roundcube/config # Archivos de configuración adicionales
      - ./db:/var/roundcube/db         # Base de datos SQLite persistente
      - ./temp:/tmp/roundcube-temp     # Directorio temporal de Roundcube
    restart: unless-stopped

